  
  <div class="container-fluid">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Sign Up</span></h2>
    <div class="row px-xl-5">
        <div class="col-lg-7 mb-5">
            <div class="contact-form bg-light p-30">
                <div id="success"></div>
                <form name="sentMessage" id="contactForm" novalidate="novalidate" #f="ngForm"  (ngSubmit)="login(f)">
                    <div class="control-group">
                        <input type="text" class="form-control" id="fname" placeholder="Your User name"
                            required="required" data-validation-required-message="Please enter your name"  required name="fname" #fname ngModel />
                        <p class="help-block text-danger"></p>
                    </div>
                 <div class="control-group">
                        <input type="email" class="form-control" id="email" placeholder="Your Email"
                            data-validation-required-message="Please enter your email" required name="email" #email ngModel />
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        <input type="password" class="form-control" id="password" placeholder="Your password"
                        required name="password" #password ngModel data-validation-required-message="Please enter your password" />
                        <p class="help-block text-danger"></p>
                    </div>
                   
                    <div>
                        <button class="btn btn-primary py-2 px-4" type="submit" id="sendMessageButton">Sign Up
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-5 mb-5">
            <div class="bg-light p-30 mb-30">
                <h3 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Don't you have an account</span></h3>
            </div>
           
            <div class="bg-light p-30 mb-3">
            
                <p class="mb-2"><label>Get yours NOW !! </label></p> 
                 
                <p class="mb-2"> <button class="mb-2" style="--button-active-background:var(--example-color-alt); --button-hover-background:var(--example-color);"><i class="fab fa-instagram fa-fw fa-xl margin-right-md" style="color: var(--example-color-alt);"></i>
                    instagram 
                </button></p>
                <p class="mb-2"><button class="mb-2" style="--button-active-background:var(--example-color-alt); --button-hover-background:var(--example-color);"><i class="fab fa-linkedin fa-fw fa-xl margin-right-md" style="color: var(--example-color-alt);"></i>
                    Linkidin
                    </button></p>
                <p class="mb-2"> <button class="mb-2" style="--button-active-background:var(--example-color-alt); --button-hover-background:var(--example-color);"><i class="fab fa-google fa-fw fa-xl margin-right-md" style="color: var(--example-color-alt);"></i>
                   google
                </button></p>
               
            </div>
        </div>
    </div>
</div>

